body {
  background-color: #8B4513;
}

.gameboard {
  margin: 0 auto;
  margin-top: 50vh;
}

.chooseplayer {
  margin: 0 auto;
  margin-top: 40vh;
}

.empty {
border: 1px solid black;
height: 100px;
width: 100px;
background-color: #FFFFCC;
}

.x {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background-color: red;
  /*background-image: url("images/close-x.svg");*/
}

.o {
  border: 1px solid black;
  background-color: blue;
  /*background-image: url("o-image.jpg");*/
  height: 100px;
  width: 100px;
}


/*body {
  background-color: blue;
}*/
