body {
  background-color: #8B4513;
}

button {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0 15px 20px black;
}
.gameboard {
  margin: 0 auto;
  margin-top: 18vh;
}

.playerselect {
  text-align: center;
  margin-top: 2vh;
  font-size: 30px;
}

.empty {
border: 1px solid black;
height: 100px;
width: 100px;
background-color: #FFFFCC;
}

.x {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background-color: red;
  /*background-image: url("images/close-x.svg");*/
}

.o {
  border: 1px solid black;
  background-color: blue;
  /*background-image: url("o-image.jpg");*/
  height: 100px;
  width: 100px;
}

#winner {
  width:200px;
  height:200px;
  position: absolute;
  left:100px;
  top:100px;
  visibility: hidden;
}

 #drawimg {
   width:200px;
   height:200px;
   position: absolute;
   left:100px;
   top:100px;
   visibility: hidden;
 }

/*body {
  background-color: blue;
}*/
